---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Fonts, colours

$font-family-sans-serif: 'Inter', sans-serif;
$brand-primary:     #3434c3; // Purple
$brand-color1:      #fdfdfd; // Grey
$brand-color2:      #f9eae1; // Purply grey

$grey1: #575757;

// Breakpoints

$phone-down: 680px;

@import
    "bootstrap"
;

// Mixins

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Base

body {
    background: $brand-color1;
    font-size: 16px;
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    @include media-query($phone-down) {
        font-size: 15px;
    }
}

.site-content {
    padding: 0 1.5rem;
    max-width: 120rem;
    margin: 0 auto;
    @extend .clearfix;
}

// Headings

h1, h2, h3, p, ul, ol {
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
}

h1, h2 {
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 35px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 70px;
    text-transform: none;

    @include media-query($phone-down) {
        font-size: 26px;
        margin-bottom: 60px;
    }

    + .lead {
        margin: -60px 0 70px;

        @include media-query($phone-down) {
            margin: -50px 0 60px;
        }
    }
}

h2 {
    color: #444;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;

    @include media-query($phone-down) {
        font-size: 19px;
    }
}

// Block type

ul, ol, p {
    line-height: 1.6;
}

p {
    margin-bottom: 20px;
}

// Heading type


.header--big {
    font-size: 70px;
    margin-top: 0;
    @include media-query($phone-down) {
        font-size: 48px;
    }
}

// Header

.site-header {
    margin-bottom: 70px;
    width: 100%;
    padding: 30px 0 0;

    @include media-query($phone-down) {
        margin-bottom: 60px;
    }
}

.site-logo {
    background: $brand-primary;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    display: inline-block;
    float: left;
    line-height: 1.4;
    transform: skew(-20deg);
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);

    @include media-query($phone-down) {
        padding: 19px 10px;
    }
    &:hover,
    &:focus {
        color: #eee;
        text-decoration: none;
    }
}

// Footer

.site-footer {
    color: $grey1;
    font-size: 13px;
    padding: 0 0 15px 0;
    margin-top: 40px;
    a {
        color: darken($grey1, 10%);
        border-bottom: solid 1px rgba(0,0,0,0.2);;
        transition: all 0.2s;
        &:hover,
        &:focus {
            border-color: #444;
            color: #444;
            text-decoration: none;
        }
    }
}

// Navigation

.nav--primary {
    float: right;
    text-align: center;
    margin-bottom: 0;
}

.nav--primary__link {
    border-bottom: solid 5px transparent;
    color: $brand-primary;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin-left: 16px;
    transition: color 0.2s ease-in;

    @include media-query($phone-down) {
        font-size: 16px;
        margin-left: 12px;
    }

    &:hover,
    &:focus,
    &:active {
        color: dark($brand-primary, 20%);
    }
}

img {
    max-width: 100%;
    height: auto;
}

.item-listing {
    margin-bottom: 30px;
}

.post--home {
    margin-bottom: 80px;

    @include media-query($phone-down) {
        margin-bottom: 60px;
    }
}

.img--bordered {
    border: solid 1px rgba(0,0,0,0.2);
}

// Posts

.post--home {
    h1 {
        font-size: 26px;
        margin: 5px 0 15px;
        text-align: left;
    }
    p {
        font-size: 14px;
    }
    .post__meta {
        margin-bottom: 10px;
    }
}

.post--labs {
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    @include media-query($phone-down) {
        display: initial;
    }
}

.labs-img {
    flex: 1;
}

.labs-info {
    color: $grey1;
    font-family: $font-family-sans-serif;
    padding-left: 3rem;
    flex: 2;

    @include media-query($phone-down) {
        padding: 1.25rem 0 0 0;
    }

    p a {
        text-decoration: underline;
    }
}

// Work examples on home page

.work-title {
    color: $brand-primary;
    margin: 20px 0 7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    text-transform: inherit;

    .post--headline & {
        margin: 30px 0 10px;
        font-size: 20px;
    }
}

.work-skills {
    color: $grey1;
    font-size: 15px;

    .post--headline & {
        font-size: 16px;
    }
}

.post__link {
    &:hover,
    &:focus {
        color: $brand-primary;
        .post__hover-detail {
            opacity: 1;
            visibility: visible;
        }
    }
    .post--headline & {
        overflow: hidden;
    }
}

.post__hover-detail {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: rgba($brand-primary, 0.95);
    color: $brand-color1;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

// Blog posts

.post__meta {
    display: inline-block;
    margin-top: 20px;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    letter-spacing: .1em;
    font-size: 10px;
    color: #bbb;
    text-shadow: 1px 1px rgba(255,255,255,.4);
    margin-bottom: 8px;
    ul {
        margin-bottom: 0;
    }
    li {
        font-weight: 700;
    }
}

.post__title {
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    text-transform: none;
}

.post__title--home {
    font-size: 26px;
    font-weight: 800;
    margin: 5px 0 15px;
    text-align: left;
}

.post__heading {
    margin-bottom: 30px;
    text-align: center;
}

.post__link {
    display: block;
    position: relative;
    img {
        margin-bottom: 5px;
        transition: opacity ease-in-out .3s;
        opacity: 0.85;
    }
    &:hover {
        text-decoration: none;
        img {
            opacity: 1;
        }
        p, h1 {
            color: #57546B;
        }
    }
    p {
        color: #444;
    }
}

.post--headline {
    .post__link {
        img {
            transform: scale(1.35) rotate(9deg);
        }
    }
}

// CV

.cv-email {
    margin-top: -2rem;
    color: #444;
    font-size: 1.2rem;
}

.cv-section {
    position: relative;
    + .cv-section {
        border-top: solid 0.5rem rgba($brand-primary, 0.1);
        padding-top: 2rem;
        margin-top: 5rem;
    }
}

.cv-item {
    margin: 2rem 0;
    p {
        margin-bottom: 0.5rem;
    }
}

.cv-item__header {
    font-weight: bold;
    font-style: italic;
}

.cv-item__subheader {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    @include media-query($phone-down) {
        font-size: 1rem;
    }
}

// Buttons

.btn {
    border-radius: 0;
}

.mini-btn {
    border: solid 1px rgba($brand-primary, 0.4);
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 15px;
    transition: 0.2s all;
    @include media-query($phone-down) {
        display: block;
        margin-bottom: 10px;
    }
    &:hover,
    &:focus {
        background: $brand-primary;
        border-color: $brand-primary;
        color: #fff;
        text-decoration: none;
    }
}

// Misc

hr {
    border: 0;
    border-top: solid 2px #fafafa;
}

.hr {
    border-top: solid 5px rgba($brand-primary, 0.1);
    margin: 20px auto;
    width: 100px;
}

.icon--home {
    margin-right: 5px;
}

.amp {
    font-weight: 300;
}

// Utility classes

.u-normal-case {
    text-transform: none;
}

.u-center {
    text-align: center;
}

// Code samples

pre {
    background: #f2f2f2;
    border: 0;
    border-radius: 0;
    color: #595858;
    line-height: 1.6;
    padding: 20px 25px;
    margin: 15px -15px;
}

code {
    background: #fafafa;
    color: #726E8B;
    border-radius: 0;
}

.highlight {
    background: $brand-primary;
    color: $brand-color2;
}

.highlight .nt {
    color: #AEB8D8;
}

.highlight .s {
    color: #eee;
}

.highlight .na {
    color: #ccc;
}

.highlight .nc {
    color: #AEB8D8;
}

.highlight .k {
    font-weight: normal;
}

.highlight .lineno {
    color: #726E8B;
    margin-right: 5px;
}
