---
layout: default
---
<div role="main">
    <div class="site-content">
        <h1>Lab projects</h1>
        <div class="item-listing">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <p class="u-center">Labs is a place for my code experiments; whether I'm learning a new language or trying out a new JS framework, you'll find the projects here.</p>
                    <hr class="hr">
                    {% for post in site.posts %}
                        {% if post.type contains 'labs' %}
                            <div class="post--labs">
                                <div class="labs-img">
                                    <a class="post__link" href="{{ post.siteurl }}">
                                        <img itemprop="image" src="{{ post.image }}" alt="{{ post.title }}">
                                    </a>
                                </div>
                                <div class="labs-info">
                                    <h2 class="work-title" itemprop="name">{{ post.title }}</h2>
                                    {{post.content}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>