---
layout: default
---
<div role="main">
    <div class="site-content">
        <h1>Lab projects</h1>
        <p class="lead">The place for my code experiments and trying out new tech</p>
        <div class="item-listing">
            {% for post in site.posts %}
                {% if post.type contains 'labs' %}
                    <div class="post--labs">
                        <div class="labs-img">
                            <a class="post__link" href="{{ post.siteurl }}">
                                <img itemprop="image" src="{{ post.image }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        <div class="labs-info">
                            <h2 class="work-title" itemprop="name">
                                <a class="post__link" href="{{ post.siteurl }}">
                                    {{ post.title }}
                                </a>
                            </h2>
                            {{post.content}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>