---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <header class="post__heading">
                <div class="post__meta">
                    <ul class="list-inline list-unstyled">
                      <li>{{ page.date | date: "%-d %B %Y" }}</li>
                    </ul>
                </div>
                <h1 class="post__title">{{ page.title }}</h1>
              </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <article class="post-content">
                {{ content }}
              </article>
            </div>
        </div>
    </div>

</div>
